@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 4.5rem;
  --first-color: #111745;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;
  --curvedBorder: 1.25rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

/* Preloader Styling */

#preloader {
  background: var(--first-color) url(/assets/loader.gif) no-repeat center/cover;
  background-size: 10%;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: -7rem;
  left: 0;
  z-index: 100000;
}

/* Sidebar nav styling */

a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #fff;
  z-index: var(--z-fixed);
  transition: 0.5s;
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: var(--white-color);
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 5rem;
    height: 5rem;
  }
  .header_img img {
    width: 5rem;
    height: 5rem;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
    max-width: calc(var(--nav-width) + 156px);
  }
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* Profile Section Styling */

#profile {
  width: 100%;
  height: 20rem;
  background: rgb(17, 23, 69);
  background: linear-gradient(
    135deg,
    rgba(17, 23, 69, 1) 25%,
    rgba(244, 3, 134, 1) 100%
  );
  border-radius: var(--curvedBorder);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline: 2rem;
  color: var(--white-color);
}

.leftProfile {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: 40%;
  height: 55%;

  display: grid;
  grid-template-columns: 35% 65%;
}

#profileImg {
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 50%;

  margin: auto;
}

#profileData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#profileName {
  font-size: 1.65rem;
}

#profileType {
  font-size: 1rem;
}

.profileTitles {
  font-size: 1.325rem;
  font-weight: 100;
}

.account {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#accNum {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.account i {
  align-self: flex-start;
  font-size: 1.325rem;
  cursor: pointer;
}

.blurAcc {
  filter: blur(0.25rem);
}

.total {
  align-self: flex-end;
  font-size: 1.325rem;
  padding-block: 1rem;
}

@media screen and (max-width: 1076px) {
  #profile {
    height: 30rem;
    width: 70%;
  }
  .leftProfile {
    width: 100%;
  }
}

/* Money section styling */

#money {
  width: 100%;
  height: 27.625rem;

  border-radius: var(--curvedBorder);

  margin-block: 1.325rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  width: 100%;
}

.leftMoney {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.leftMoney h1 {
  font-size: 1.5rem;
  text-align: left;
  align-self: flex-start;
}

.btn {
  margin-left: 72%;
}

.btnM {
  background-color: var(--first-color);
  color: var(--white-color);
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  width: 10rem;
  border: none;
  transition: transform 0.15s ease-in;
}

.btnM:hover {
  transform: scale(1.1);
}

.btnM:active {
  transform: scale(0.95);
}

.btnM img {
  display: inline;
  width: 3.5rem;
  padding-inline: 0.1rem;
}

#exampleCheck1 {
  cursor: not-allowed;
}

/* Table styling */

.rightMoney {
  margin-left: 2rem;
  background: rgb(17, 23, 69);
  background: linear-gradient(
    135deg,
    rgba(17, 23, 69, 1) 15%,
    rgba(244, 3, 134, 1) 100%
  );
  align-self: flex-start;
  height: 100%;
  border-top-right-radius: var(--curvedBorder);
  border-bottom-right-radius: var(--curvedBorder);
}

#logTitle {
  font-size: 30px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-block: 1rem;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 70%;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: var(--white-color);
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: var(--white-color);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* Styling for Balance Section */

#Balance {
  width: 100%;
  width: 100vh;
  margin-block: 1.325rem;

  display: flex;
  gap: 1.325rem;
}

#chartInfo {
  width: 100%;
  height: 100%;

  display: flex;

  flex-wrap: wrap;

  padding: 2rem;
  margin-bottom: 1.75rem;

  gap: 2rem;

  justify-content: center;

  background: rgb(17, 23, 69);
  background: linear-gradient(
    135deg,
    rgba(17, 23, 69, 1) 25%,
    rgba(244, 3, 134, 1) 100%
  );
  border-radius: var(--curvedBorder);
}

#Chart {
  width: 100%;
  height: 70%;

  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(9px);
  border-radius: 1rem;
}

canvas {
  max-width: 100%;
  z-index: 1;
}

#Resume {
  height: 40%;

  display: flex;

  flex-direction: row;

  gap: 5rem;

  justify-content: center;

  margin-block: 0.5rem;
}

.resumeTittles {
  color: var(--white-color);
  font-size: 1.325rem;
  font-weight: 300;
}

/* Footer Styling */

footer {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 3.25rem;
  text-align: center;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;

  padding-block: 1rem;
  color: var(--white-color);
  background-color: var(--first-color);
}

#githubProfile {
  color: #ff69be;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

#githubProfile::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff69be;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

#githubProfile:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* HTML Scrollbar Styling */

::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgb(170, 170, 170);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 0%, 47%);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}